<h1 class="text-3xl text-white mb-6">Dados Importados</h1>

<table class="w-full border border-gray-700 rounded">
    <tr class="bg-gray-800 text-neon">
        <th class="p-3">Nome</th>
        <th class="p-3">Categoria</th>
        <th class="p-3">Tipo</th>
        <th class="p-3">Preço</th>
    </tr>

    {% for item in itens %}
    <tr class="border-t border-gray-700">
        <td class="p-3">{{ item[0] }}</td>
        <td class="p-3">{{ item[1] }}</td>
        <td class="p-3">{{ item[2] }}</td>
        <td class="p-3">R$ {{ item[3] }}</td>
    </tr>
    {% endfor %}
</table>
